img{
    height:200px;
    width: 200px;
    border: 2px solid blueviolet;
}
.firstboxs{
    border: 2px solid black ;
    position: relative;
    height: 1000px;
    width: 1000px;
    background-color: bisque;
}
.secondsbox{
    border: 2px solid red;
    position: relative;
    height: 1000px;
    width: 1000px;
    background-color: aquamarine;
}
.secondbox{
position: static;
top:100px;
bottom: 100px;
left:100px;
right:100px;
position: relative;
left:20px;
top:20px;
position: absolute;
top:100px;
top:0;
/* left:0; */
/* right:0; */
}
.firstbox{
    position: relative;
    top:0;
}
.thirdbox{
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
}
.fourthbox{
position: sticky;
top:0;
}