*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
div{
    border-radius: 50%;
    padding: 100px;
}
.firstbox{
    height: 200px;
    width:200px;
    background-color: blueviolet;
}
.secondbox{
    height:200px;
    width:200px;
    background-color:blueviolet;
}
.thirdbox{
 height:200px;
    width:200px;
    background-color:blueviolet;
}
.fourthbox{
     height:200px;
    width:200px;
    background-color:blueviolet;
}
/* we can call using div or firstbox,secondbox grouping selector */

.secondbox{
    background-color: black;
    position:absolute;
    right:0;
    top:0;

}
.thirdbox{
    position: absolute;
    bottom:0;
    right:0;
    
}
.fourthbox{

position: absolute;
    bottom:0;
    left:0;
    
}